@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

section {
  width: 100%;
  background: var(--color-background-mute);
  margin: 2rem 0;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-border);
  gap: var(--section-gap);
}
